$primary: #371efa;
$secondary: #ce185e;
$info: #64920f;
$success: #0ac3f1;
$light: #afafaf;
$dark: #181922;

$white: #eeeeee;
$tooltip-arrow-color: $info;

@import "node_modules/bootstrap/scss/bootstrap.scss";

.btn-circle::before {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  content: "\f104";
}

.btn-circle {
  border-radius: 100%;
  border-width: 2px;
  padding: 1rem 1.5rem !important;
}

.btn-sm.btn-circle {
  padding: 0.75rem 0.75rem !important;
}

.btn-lg.btn-circle {
  padding: 1.5rem 2rem !important;
}

.btn-xl,
.btn-group-xl > .btn {
  padding: 0.75rem 1.25rem;
  font-size: 1.5rem;
  border-radius: 0.3rem;
}

.tooltip-inner {
  background-color: var(--bs-info);
}

a {
  text-decoration: none;
}

#about,
#subtagline {
  font-size: small;
}

#tagline {
  font-size: large;
}

#logo {
  width: 100%;
}

@include media-breakpoint-up(sm) {
  #about,
  #subtagline {
    font-size: medium;
  }

  #tagline {
    font-size: x-large;
  }
  #logo {
    width: 70%;
  }
}

@include media-breakpoint-up(xxl) {
  #logo {
    width: 80%;
  }
}
