body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

[class*="display-"] {
  font-family: "Archivo", sans-serif;
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--bs-dark);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

.logo {
  width: 70%;
}

#wrapper-canvas {
  display: block;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.download-badges input {
  height: 40px;
  width: 120px;
}
